@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap"); */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.img-shadow {
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 1);
}

.circle {
  height: 30px;
  width: 30px;
  background-image: linear-gradient(45deg, #0000ff, #ff00ff);
  border-radius: 50%;
}
.image {
  background: url("./assets/image_icon.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-color: transparent;

  --tw-bg-opacity: 0.8;
  background-color: rgb(64 64 64 / var(--tw-bg-opacity));
}

.gradient-outline {
  outline: none;
  color: white;
}

.outline-gradient {
  /* position: fixed; */
}
.btn {
  position: relative;
}

.btn-outline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  border: 2px solid transparent;
  background-clip: padding-box;
  background-image: linear-gradient(90deg, #3b82f6, #ec4899);
}

.h-calc {
  height: calc(100vh - 8.5rem);
}
@media (max-width: 640px) {
  .h-calc {
    height: auto;
  }
  .h-calc-img {
    height: calc(70vh - 8.5rem);
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (max-width: 640px) {
  .account {
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translate(-50%);
  }
  .display {
    display: none;
  }
  .button {
    width: 100%;
  }
  .button button {
    margin-top: 60px;
  }
}
